/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: rgb(252, 252, 254);
}
p {
  margin: 0;
}

.title-blue-bg {
  background-color: rgb(3, 69, 146);
  font-weight: bold;
  color: #fff;
  width: 10rem;
  margin: 5rem auto 0 auto;
  text-align: center;
  padding: 0.2rem 0;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

.title{
    margin-left: 60px;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.card {
  max-width: 60rem;
  min-height: 10rem;
  border: 0;
  margin: 0 auto 50px auto;
  padding: 3rem 0rem;
  box-shadow: 0 30px 30px -30px rgba($color: #000000, $alpha: 0.2),
    0 -30px 30px -30px rgba($color: #000000, $alpha: 0.2);
  flex-direction: row;
  align-items: center;
  .col-sm {
    text-align: center;
    .team-name {
      font-weight: bold;
      margin-top: 1rem;
    }
    .team-logo {
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
  }
  .date {
    text-align: center;
    font-style: oblique;
    color: rgb(173, 172, 174);
    padding: 1rem 0;
  }
  .score {
    text-align: center;
    font-style: oblique;
    color: rgb(173, 172, 174);
    padding: 1rem 0;
    .score-label {
        background-color: #f0f0f2;
        color: #a1a0a3;
        display: inline-block;
        height: 2rem;
        line-height: 2rem;
        width: 40%;
        margin: 1rem 0;
        &:first-of-type{
            border-right: 1px solid #fff;
        }
    }
  }
}

@media screen and (min-width: 700px) {
  .card {
    padding: 3rem 12rem;
  }
}
